@media screen and (max-width:1900px) {
    .version3 {
        display: none;
    }

    .third2 {
        display: none;
    }

    .fourth2 {
        display: none;
    }

    body {
        background-color: #204D70;
        padding: 20px 100px;
    }

    header {
        display: flex;
        flex-direction: row;
    }

    .name {
        flex: 1;
        color: #D2DADE;
        font-size: 25px;
        letter-spacing: 1px;
        /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
        font-family: QuicksandFont;
    }

    .navBar {
        flex: 1;
        text-align: end;
        align-self: center;
    }

    .navBar>li {
        list-style: none;
        display: inline;
        cursor: pointer;
    }

    .navBar>li:not(:last-of-type) {

        margin-right: 20px;
    }

    svg {
        color: #D2DADE;
    }

    .section2 {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 8fr 38fr 7fr;
        grid-column-gap: 25px;
    }

    .leftSectionPage {
        background-color: #D2DADE;
        border-radius: 15px;
        display: block;
        height: 520px;
        display: grid;
        grid-template-rows: 1fr 2fr;
        justify-items: center;
        padding: 0 20px;
        padding-top: 18px;
    }

    .biography {
        width: 160px;
        margin: 0 auto;
    }

    .photo {
        width: 160px;
    }

    .photo img {
        width: 160px;
    }

    .underImage {
        font-size: 6px;
        margin: 10px 0;
    }

    .title {
        font-size: 25px;
        margin-top: 10px;
    }

    .lorem {
        height: 130px;
        font-size: 8px;
        margin-left: 20px;
        margin-right: 40px;
        overflow: auto;
    }

    .buttons {
        text-align: end;
    }

    a {
        margin-right: 20px;
        font-size: 12px;
    }

    a>svg {
        color: black;
        margin-right: 70px;
    }

    .mainOfPage {
        height: 520px;
        border-radius: 15px;
        background-color: white;
        padding: 30px;
        overflow: auto;
    }

    .content {
        height: 220px;
        border: solid 1.5px #9a9a9a;
        border-radius: 15px;
        display: grid;
        grid-template-columns: 8fr 28fr;
        margin-bottom: 20px;
    }

    .frame {
        width: 165px;
        height: 165px;
        margin: 35px 15px 25px 20px;
        border: solid 1.5px #9a9a9a;
        border-radius: 15px;
    }

    .paragraph {}

    .rightSectionOfPage {
        display: flex;
        flex-direction: column;
    }

    .first {
        width: 160px;
        border-radius: 15px;
        background-color: #D2DADE;
        height: 160px;
    }

    .second {
        width: 160px;
        margin-top: 14px;
        border-radius: 15px;
        background-color: #D2DADE;
        height: 160px;
    }

    .third {
        width: 160px;
        margin-top: 25px;
        border-radius: 30px;
        background-color: #D2DADE;
        height: 40px;
        text-align: center;
        padding-top: 5px;
        font-size: 18px;
        position: relative;
        cursor: pointer;
    }

    .third>nav {
        position: absolute;
        display: grid;
        grid-template-rows: 1fr;
        grid-gap: 5px;
        left: 0;
        top: 50px;
        width: 100%;
        padding: 10px 20px;
        background-color: #D2DADE;
        border-radius: 20px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s;
        z-index: 99;
    }

    .third>nav>li {
        font-size: 16px;
        padding: 4px 20px;
        border-radius: 10px;
        list-style: none;
        border-bottom: 1px solid black;
        background-color: #D2DADE;
        cursor: pointer;
    }

    .third:hover>nav {
        visibility: visible;
        opacity: 1;
    }

    .fourth {
        width: 160px;
        margin-top: 10px;
        border-radius: 30px;
        background-color: #D2DADE;
        height: 40px;
        text-align: center;
        padding-top: 5px;
        font-size: 18px;
        position: relative;
        cursor: pointer;
    }

    .fourth>nav {
        position: absolute;
        display: grid;
        grid-template-rows: 1fr;
        grid-gap: 5px;
        left: 0;
        top: 50px;
        width: 100%;
        padding: 10px 20px;
        background-color: #D2DADE;
        border-radius: 20px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s;
    }

    .fourth>nav>li {
        font-size: 16px;
        padding: 2px 10px;
        border-radius: 10px;
        list-style: none;
        border-bottom: 1px solid black;
        background-color: #D2DADE;
        cursor: pointer;
    }

    .fourth:hover>nav {
        visibility: visible;
        opacity: 1;
    }

    .frame>img {
        width: 100%;
        border-radius: 15px;
    }

    .first>img {
        width: 100%;
        border-radius: 15px;
    }

    .second>img {
        width: 100%;
        border-radius: 15px;
    }
}

@media screen and (max-width:1200px) {
    .third2 {
        display: none;
    }

    .fourth2 {
        display: none;
    }

    body {
        background-color: #204D70;
        padding: 20px 50px;
    }

    header {
        display: flex;
        flex-direction: row;
    }

    .name {
        flex: 1;
        color: #D2DADE;
        font-size: 25px;
        letter-spacing: 1px;
        /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
        font-family: QuicksandFont;
    }

    .navBar {
        flex: 1;
        text-align: end;
        align-self: center;
    }

    .navbar>li {
        list-style: none;
        display: inline;
        cursor: pointer;
    }

    .navbar>li:not(:last-of-type) {

        margin-right: 20px;
    }

    svg {
        color: #D2DADE;
    }

    .section2 {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 8fr 38fr 7fr;
        grid-column-gap: 25px;
    }

    .leftSectionPage {
        background-color: #D2DADE;
        border-radius: 15px;
        display: block;
        height: 520px;
        display: grid;
        grid-template-rows: 1fr 2fr;
        justify-items: center;
        padding: 0 20px;
        padding-top: 18px;
    }

    .biography {
        width: 140PX;
        margin: 0 auto;
    }

    .photo {
        width: 140PX;
    }

    .photo img {
        width: 140PX;
    }

    .underImage {
        font-size: 6px;
    }

    .title {
        font-size: 25px;
        margin-top: 10px;
    }

    .lorem {
        font-size: 8px;
        margin-left: 20px;
        margin-right: 40px;
        height: 132px;
        overflow: auto;
    }

    .buttons {
        text-align: end;
    }

    a {
        margin-right: 20px;
        font-size: 12px;
    }

    a>svg {
        color: black;
        margin-right: 50px;
    }

    .mainOfPage {
        height: 520px;
        border-radius: 15px;
        background-color: white;
        padding: 30px;
        overflow: auto;
    }

    .content {
        height: 220px;
        border: solid 1.5px #9a9a9a;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }

    .frame {
        /* flex: 2; */
        width: 157px;
        height: 157px;
        margin: 35px 15px 25px 15px;
        border: solid 1.5px #9a9a9a;
        border-radius: 15px;
    }

    .paragraph {
        flex: 5;
    }

    .rightSectionOfPage {
        display: flex;
        flex-direction: column;
    }

    .first {
        border-radius: 15px;
        background-color: #D2DADE;
        width: 140px;
        height: 140px;
    }

    .second {
        margin-top: 14px;
        border-radius: 15px;
        background-color: #D2DADE;
        width: 140px;
        height: 140px;
    }

    .third {
        width: 140px;
        margin-top: 25px;
        border-radius: 30px;
        background-color: #D2DADE;
        height: 40px;
        text-align: center;
        padding-top: 5px;
        font-size: 18px;
    }

    .fourth {
        width: 140px;
        margin-top: 10px;
        border-radius: 30px;
        background-color: #D2DADE;
        height: 40px;
        text-align: center;
        padding-top: 5px;
        font-size: 18px;
    }

    .frame>img {
        width: 100%;
        border-radius: 15px;
    }

    .first>img {
        width: 100%;
        border-radius: 5px;
    }

    .second>img {
        width: 100%;
        border-radius: 5px;
    }

}

@media screen and (max-width:1000px) {
    .third2 {
        display: none;
    }

    .fourth2 {
        display: none;
    }

    body {
        background-color: #204D70;
        padding: 20px 30px;
    }

    header {
        display: flex;
        flex-direction: row;
    }

    .name {
        flex: 1;
        color: #D2DADE;
        font-size: 25px;
        letter-spacing: 1px;
        /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
        font-family: QuicksandFont;
    }

    .navBar {
        flex: 1;
        text-align: end;
        align-self: center;
    }

    .navbar>li {
        list-style: none;
        display: inline;
        cursor: pointer;
    }

    .navbar>li:not(:last-of-type) {

        margin-right: 20px;
    }

    svg {
        color: #D2DADE;
    }

    .section2 {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 8fr 38fr 7fr;
        grid-column-gap: 25px;
    }

    .leftSectionPage {
        background-color: #D2DADE;
        border-radius: 15px;
        display: block;
        height: 520px;
        display: grid;
        grid-template-rows: 1fr 2fr;
        justify-items: center;
        padding: 0 20px;
        padding-top: 18px;
    }

    .biography {
        width: 140px;
        margin: 0 auto;
    }

    .photo {
        width: 140px;
    }

    .photo img {
        width: 140px;
    }

    .underImage {
        font-size: 6px;
    }

    .title {
        font-size: 25px;
        margin-top: 10px;
    }

    .lorem {
        font-size: 8px;
        margin-left: 20px;
        margin-right: 20px;
        height: 120px;
        overflow: auto;
    }

    .buttons {
        text-align: end;
    }

    a {
        margin-right: 20px;
        font-size: 12px;
    }

    a>svg {
        color: black;
        margin-right: 20px;
    }

    .mainOfPage {
        height: 520px;
        border-radius: 15px;
        background-color: white;
        padding: 30px;
        overflow: auto;
    }

    .content {
        height: 200px;
        border: solid 1.5px #9a9a9a;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }

    .frame {
        /* flex: 2; */
        width: 140px;
        height: 140px;
        margin: 35px 15px 25px 15px;
        border: solid 1.5px #9a9a9a;
        border-radius: 15px;
    }

    .frame>img {
        width: 100%;
        border-radius: 15px;
    }

    .paragraph {
        flex: 5;
    }

    .rightSectionOfPage {
        display: flex;
        flex-direction: column;
    }

    .first {
        border-radius: 15px;
        background-color: #D2DADE;
        width: 140px;
        height: 140px;
    }

    .first>img {
        width: 100%;
        border-radius: 5px;
    }

    .second {
        margin-top: 14px;
        border-radius: 15px;
        background-color: #D2DADE;
        width: 140px;
        height: 140px;
    }

    .second>img {
        width: 100%;
        border-radius: 5px;
    }

    .third {
        margin-top: 25px;
        border-radius: 30px;
        background-color: #D2DADE;
        height: 40px;
        text-align: center;
        padding-top: 5px;
        font-size: 18px;
    }

    .fourth {
        margin-top: 10px;
        border-radius: 30px;
        background-color: #D2DADE;
        height: 35px;
        text-align: center;
        padding-top: 3px;
        font-size: 18px;
    }

}

@media screen and (max-width:850px) {
    body {
        background-color: #204D70;
        padding: 10px 30px;
    }

    header {
        display: flex;
        flex-direction: row;
    }

    .name {
        flex: 1;
        color: #D2DADE;
        font-size: 25px;
        letter-spacing: 1px;
        /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
        font-family: QuicksandFont;
    }

    .navBar {
        flex: 1;
        text-align: end;
        align-self: center;
    }

    .navbar>li {
        list-style: none;
        display: inline;
        cursor: pointer;
    }

    .navbar>li:not(:last-of-type) {
        margin-right: 10px;
    }

    svg {
        color: #D2DADE;
    }

    .section2 {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    .leftSectionPage {
        padding: 10px;
        width: 75%;
        background-color: #D2DADE;
        border-radius: 15px;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        margin-bottom: 10px;
    }

    .biography {
        width: 100%;
        display: flex;
    }

    .photo img {
        width: 120px;
    }

    .underImage {
        height: 120px;
        font-size: 8px;
        margin: 0;
        margin-left: 10px;
        margin-right: 30px;
        overflow: auto;
    }

    .third2 {
        display: block;
        top: 0px;
        border-radius: 15px;
        background-color: #D2DADE;
        height: 47%;
        text-align: center;
        padding-top: 15px;
        width: 30%;
        font-size: 20px;
        position: absolute;
        right: -33%;
        cursor: pointer;
    }

    .third2>nav {
        position: absolute;
        display: grid;
        grid-template-rows: 1fr;
        grid-gap: 5px;
        left: 0;
        top: 80px;
        width: 100%;
        padding: 10px 15px;
        background-color: #D2DADE;
        border-radius: 20px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s;
        z-index: 999;
    }

    .third2>nav>li {
        margin: 0 auto;
        font-size: 20px;
        padding: 4px 5px;
        width: 100%;
        border-radius: 10px;
        list-style: none;
        border-bottom: 1px solid black;
        background-color: #D2DADE;
        cursor: pointer;
    }

    .third2:hover>nav {
        visibility: visible;
        opacity: 1;
    }

    .fourth2 {
        display: block;
        top: 53%;
        border-radius: 15px;
        background-color: #D2DADE;
        height: 47%;
        text-align: center;
        padding-top: 15px;
        width: 30%;
        font-size: 20px;
        position: absolute;
        right: -33%;
        cursor: pointer;
    }

    .fourth2>nav {
        position: absolute;
        display: grid;
        grid-template-rows: 1fr;
        grid-gap: 5px;
        left: 0;
        top: 75px;
        width: 100%;
        padding: 10px 15px;
        background-color: #D2DADE;
        border-radius: 15px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s;
        z-index: 999;
    }

    .fourth2>nav>li {
        margin: 0 auto;
        font-size: 20px;
        padding: 4px 5px;
        width: 100%;
        border-radius: 10px;
        list-style: none;
        border-bottom: 1px solid black;
        background-color: #D2DADE;
        cursor: pointer;
    }

    .fourth2:hover>nav {
        visibility: visible;
        opacity: 1;
    }

    .title {
        font-size: 25px;
        margin-top: 10px;
    }

    .lorem {
        font-size: 8px;
        margin-left: 20px;
        margin-right: 40px;
        height: 132px;
        overflow: auto;
    }

    .buttons {
        text-align: end;
    }

    a {
        margin-right: 20px;
        font-size: 12px;
    }

    a>svg {
        color: black;
        margin-right: 50px;
    }

    .mainOfPage {
        height: 390px;
        border-radius: 15px;
        background-color: white;
        padding: 30px;
        overflow: auto;
    }

    .content {
        height: 220px;
        border: solid 1.5px #9a9a9a;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }

    .frame {
        /* flex: 2; */
        width: 157px;
        height: 157px;
        margin: 35px 15px 25px 15px;
        border: solid 1.5px #9a9a9a;
        border-radius: 15px;
    }

    .frame>img {
        width: 100%;
    }

    .paragraph {
        flex: 5;
    }

    .rightSectionOfPage {
        display: flex;
        flex-direction: column;
        display: none;
    }

    .first {
        border-radius: 15px;
        background-color: #D2DADE;
        width: 134px;
        height: 120px;
        display: none;
    }

    .first>img {
        width: 100%;
    }

    .second {
        margin-top: 14px;
        border-radius: 15px;
        background-color: #D2DADE;
        height: 120px;
        display: none;
    }

    .second>img {
        width: 100%;
    }

    .third {
        margin-top: 30px;
        border-radius: 30px;
        background-color: #D2DADE;
        height: 35px;
        text-align: center;
        padding-top: 3px;
        font-size: 18px;
    }

    .fourth {
        margin-top: 10px;
        border-radius: 30px;
        background-color: #D2DADE;
        height: 35px;
        text-align: center;
        padding-top: 3px;
        font-size: 18px;
    }

}

@media screen and (max-width:600px) {
    body {
        background-color: #204D70;
        padding: 10px 30px;
    }

    header {
        display: flex;
        flex-direction: row;
    }

    .name {
        flex: 1;
        color: #D2DADE;
        font-size: 22px;
        letter-spacing: 1px;
        font-family: QuicksandFont;
    }

    .navBar {
        flex: 1;
        text-align: end;
        align-self: center;
    }

    .navbar>li {
        list-style: none;
        cursor: pointer;
        margin-right: 5px;
    }

    .navbar>li:not(:last-of-type) {
        margin-right: 10px !important;
    }

    svg {
        color: #D2DADE;
    }

    .section2 {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    .leftSectionPage {
        padding: 10px;
        width: 100%;
        background-color: #D2DADE;
        border-radius: 15px;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 10px;
    }

    .biography {
        width: 100%;
        display: flex;
    }

    .photo img {
        width: 120px;
    }

    .underImage {
        height: 120px;
        font-size: 8px;
        margin: 0;
        margin-left: 10px;
        margin-right: 30px;
        overflow: auto;
    }

    .third2 {
        display: block;
        top: 0px;
        border-radius: 15px;
        background-color: #D2DADE;
        height: 47%;
        text-align: center;
        padding-top: 17px;
        width: 40%;
        font-size: 18px;
        position: absolute;
        right: -43%;
        display: none;
    }

    .fourth2 {
        display: block;
        top: 53%;
        border-radius: 15px;
        background-color: #D2DADE;
        height: 47%;
        text-align: center;
        padding-top: 17px;
        width: 40%;
        font-size: 18px;
        position: absolute;
        right: -43%;
        display: none;
    }

    .title {
        font-size: 25px;
        margin-top: 10px;
    }

    .lorem {
        font-size: 8px;
        margin-left: 20px;
        margin-right: 10px;
        height: 100px;
        overflow: auto;
    }

    .buttons {
        text-align: end;
    }

    a {
        margin-right: 10px;
        font-size: 12px;
    }

    a>svg {
        color: black;
        margin-right: 20px;
    }

    .mainOfPage {
        height: 390px;
        border-radius: 15px;
        background-color: white;
        padding: 30px;
        overflow: auto;
    }

    .content {
        height: 180px;
        border: solid 1.5px #9a9a9a;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }

    .frame {
        /* flex: 2; */
        width: 120px;
        height: 120px;
        margin: 35px 15px 25px 15px;
        border: solid 1.5px #9a9a9a;
        border-radius: 15px;
    }

    .paragraph {
        flex: 5;
    }

    .rightSectionOfPage {
        display: flex;
        flex-direction: row;
        /* display: none; */
    }

    .first {
        margin-top: 10px;
        margin-right: 10px;
        border-radius: 15px;
        background-color: #D2DADE;
        width: 134px;
        height: 120px;
        display: block;
    }

    .second {
        margin-top: 10px;
        margin-right: 10px;
        border-radius: 15px;
        background-color: #D2DADE;
        width: 134px;
        height: 120px;
        display: block;
    }

    .third {
        margin-top: 30px;
        border-radius: 30px;
        background-color: #D2DADE;
        height: 35px;
        text-align: center;
        padding-top: 3px;
        font-size: 18px;
        display: none;
    }

    .fourth {
        margin-top: 10px;
        border-radius: 30px;
        background-color: #D2DADE;
        height: 35px;
        text-align: center;
        padding-top: 3px;
        font-size: 18px;
        display: none;
    }

    .version3 {
        display: block;
    }

    .third3 {
        padding: 0px 20px;
        margin-top: 10px;
        height: 55px;
        border-radius: 30px;
        background-color: #D2DADE;
        text-align: center;
        padding-top: 10px;
        font-size: 18px;
        display: block;
        position: relative;
    }

    .third3>nav {
        position: absolute;
        display: grid;
        grid-template-rows: 1fr;
        grid-gap: 5px;
        left: 0;
        top: 65px;
        width: 100%;
        padding: 10px 0px;
        background-color: #D2DADE;
        border-radius: 25px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s;
        z-index: 999;
    }

    .third3>nav>li {
        margin: 0 auto;
        font-size: 18px;
        padding: 4px 20px;
        border-radius: 10px;
        list-style: none;
        border-bottom: 1px solid black;
        background-color: #D2DADE;
        cursor: pointer;
    }

    .third3:hover>nav {
        visibility: visible;
        opacity: 1;
    }

    .fourth3 {
        padding: 0px 20px;
        margin-top: 10px;
        height: 55px;
        border-radius: 30px;
        background-color: #D2DADE;
        text-align: center;
        padding-top: 10px;
        font-size: 18px;
        display: block;
        position: relative;
    }

    .fourth3>nav {
        position: absolute;
        display: grid;
        grid-template-rows: 1fr;
        grid-gap: 5px;
        left: 0;
        top: 65px;
        width: 100%;
        padding: 10px 0px;
        background-color: #D2DADE;
        border-radius: 25px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s;
        z-index: 999;
    }

    .fourth3>nav>li {
        margin: 0 auto;
        font-size: 18px;
        padding: 4px 20px;
        border-radius: 10px;
        list-style: none;
        border-bottom: 1px solid black;
        background-color: #D2DADE;
        cursor: pointer;
    }

    .fourth3:hover>nav {
        visibility: visible;
        opacity: 1;
    }

}

@media screen and (max-width:450px) {
    body {
        padding: 0px 0;
    }

    header {
        display: flex;
        flex-direction: row;
        padding: 10px 15px;
    }

    .name {
        flex: 1;
        color: #D2DADE;
        font-size: 20px;
        letter-spacing: 0;
        font-family: QuicksandFont;
    }

    .navbar>li:not(:last-of-type) {
        margin-right: 3px !important;
    }

    .navBar>li>svg {
        height: 22px !important;
        width: 22px !important;
    }

    .section2 {
        margin-top: 0;
    }

    .leftSectionPage {
        border-radius: 0;
        margin-bottom: 7px;
        padding: 10px 20px;
        margin-top: 0;
    }

    .mainOfPage {
        height: 270px;
        margin: 0;
        border-radius: 0;
        padding: 10px 20px;
    }

    a {
        font-size: 10px;
        margin-right: 5px;
    }

    .rightSectionOfPage {
        display: grid;
        grid-template-areas: 'first second' 'version3 version3';
        grid-gap: 7px;
        padding: 0 0;
        margin: 0 auto;
        margin-top: 7px;
    }

    .version3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 7px;
        width: 100%;
        grid-area: version3;
    }

    .first {
        width: 100%;
        height: auto;
        grid-area: first;
        margin-top: 0;
        margin-right: 0;
        background: none;
    }

    .first>img {
        width: 100%;
        height: 100%;
        border-radius: 0 5px 5px 0;
    }

    .second {
        width: 100%;
        height: auto;
        grid-area: second;
        margin-top: 0;
        margin-right: 0;
        background: none;
    }

    .second>img {
        width: 100%;
        border-radius: 5px 0 0 5px;
    }

    .third3 {
        width: 70%;
        display: inline;
        padding: 0px 10px;
        margin-top: 0px;
        height: 40px;
        border-radius: 5px;
        background-color: #D2DADE;
        text-align: center;
        padding-top: 5px;
        font-size: 18px;
        justify-self: end;
    }

    .fourth3 {
        width: 70%;
        display: inline;
        padding: 0px 10px;
        margin-top: 0px;
        height: 40px;
        border-radius: 5px;
        background-color: #D2DADE;
        text-align: center;
        padding-top: 5px;
        font-size: 18px;
    }

    .third3>nav {
        position: absolute;
        display: grid;
        grid-template-rows: 1fr;
        grid-gap: 5px;
        left: 0;
        top: 47px;
        width: 100%;
        padding: 10px 0px;
        background-color: #D2DADE;
        border-radius: 5px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s;
        z-index: 999;
    }

    .third3>nav>li {
        margin: 0 auto;
        font-size: 18px;
        padding: 4px 10px;
        border-radius: 10px;
        list-style: none;
        border-bottom: 1px solid black;
        background-color: #D2DADE;
        cursor: pointer;
        margin: 0 10px;
    }

    .third3:hover>nav {
        visibility: visible;
        opacity: 1;
    }

    .fourth3>nav {
        position: absolute;
        display: grid;
        grid-template-rows: 1fr;
        grid-gap: 5px;
        left: 0;
        top: 47px;
        width: 100%;
        padding: 10px 0px;
        background-color: #D2DADE;
        border-radius: 5px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s;
        z-index: 999;
    }

    .fourth3>nav>li {
        font-size: 18px;
        padding: 4px 0px;
        border-radius: 10px;
        list-style: none;
        border-bottom: 1px solid black;
        background-color: #D2DADE;
        cursor: pointer;
        margin: 0 10px;
    }

    .fourth3:hover>nav {
        visibility: visible;
        opacity: 1;
    }

    .frame {
        width: 110px;
        height: 110px;
        margin: 35px 5px 25px 15px;
    }

    .frame>img {
        width: 100%;
        height: 100%;
    }
}

@font-face {
    font-family: QuicksandFont;
    src: url(DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}

::-webkit-scrollbar {
    width: 0;
}

li>svg:hover {
    transform: translateY(2px);
    transition-timing-function: ease-out;
}

li>svg {
    transition: all 0.2s;
}